*{
   box-sizing: border-box; 
   margin:0;
   padding: 0;
}


#ToDo {
    background-color: aqua;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 40px ;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

.ToDo_List{
  height: 180px;
  width: 420px;
  background-color: wheat;
  margin: 0 auto;
  border-radius: 6%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}


/*.list {
    background-color: rgb(85, 100, 149);
    width: 500px;
    height: 200px;
    margin: 0 auto;
    border-radius: 20px;
      font-size: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}*/


.message{
    
    height: 30px;

}

.toDoList {
  display: flex;
  font-family: cursive;
  color: lightgray;
  align-items: center;
  margin: 10px;
}
.input {
  background-color: rgb(185, 204, 248);
  width: 80%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px 10px;
}
.add {
  background-color: rgb(185, 204, 248);
  width: 100px;
  height: 20px;
  border-radius: 20%;
  color: mediumblue;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.addListItems {
  width: 500px;
  height: 50px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  
  
}

.wrapper {
  width: 500px;
  margin: 25px auto;

}
.del {
      background-color: rgb(185, 204, 248);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor:pointer;
}
.message {

    background-color: rgb(185, 204, 248);
    font-family: cursive;
    font-size: 20px;
    width: 72%;
    border-radius: 10px;

    padding: 10px 20px;
}


.del:hover {
  background-color: rgb(224, 24, 24);
}

.add:hover {
  background-color: rgb(69, 134, 172);
}
  
 
 
